{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{parent()}}
        <style>
        
        </style>
{% endblock %}
    

{% block body %}
    <div class="profil">
        <div id="profilBox">
            <h3>Qui suis-je</h3>
                <div class="containerParcours">
                    <h5>Mon parcours</h5>
                    <p>Vous </p>
                    <p>Vous </p>
                    <p>Vous </p>
                </div>
                <div class="containerParcours">
                    <h5>Mes compétences</h5>
                    <p>Vous </p>
                    <p>Vous </p>
                    <p>Vous </p>
                </div>
                <div class="containerParcours">
                    <h5>Mon parcours</h5>
                    <p>Vous </p>
                    <p>Vous </p>
                    <p>Vous </p>
                </div>
                <div class="containerParcours">
                    <h5>Mon parcours</h5>
                    <p>Vous </p>
                    <p>Vous </p>
                    <p>Vous </p>
                </div>
            </div>
        
    </div>
{% endblock %}