{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{parent()}}
        <style>
        
        </style>
{% endblock %}
    

{% block body %}
    <div class="profil">
        <div id="who">
            <h3>Qui suis-je</h3>
                <div class="containerProfil">
                    <p>Vous </p>
                    <p>Vous </p>
                    <p>Vous </p>
                </div>
            </div>
        
    </div>
{% endblock %}